<div class="page-header">
  <%= link_to book_path(@section.book), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @section, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing <%= @section.name.titleize %></h1>
</div>

<%= render 'form' %>
